.clearfix{
    content:'';display:block;clear:both;
}

hr{margin: 0;padding: 10px;width: 300px;}
ul,li{list-style:none;display: inline;}
button{padding:3px 10px 3px 10px;margin: 0 5px 0 5px;}
.Tool .ToolAll{padding: 10px 15px;background-color: #dff0d8;border-color: #d6e9c6;border-bottom: 1px solid rgb(105, 105, 105);border-top-left-radius: 3px;border-top-right-radius: 3px;}
.Tool .ToolAll div{margin: 3px 0 3px 0;}
/* :nth-child(2) */
.Tool a{padding:5px 10px 5px 10px;}
.Tool li{margin-bottom:5px; width: 300px;}
.RemoteControl,.onesmartContract,.SmartKeShiPiao{position:relative;}
pre{position: absolute;;height: 650px;width: 500px;}
/* .fz{height: 650px;} */



